body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: dimgray;
    font-family: 'Arial', sans-serif;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 11px;
    padding: 10px;
    background-color: lemonchiffon;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #06146f;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s;
}


.cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s;
}

.cell img.hidden {
    opacity: 0;
}
